/**
 * Base
 */

html {
  overflow-y: auto;
}

a {
  /* for remove highlight */
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: $desktop) {
  ::-webkit-scrollbar {
    height: 6px;
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($black, 0.2);
    border-radius: $radius;

    &:hover {
      background: rgba($black, 0.3);
    }

    &:active {
      background: rgba($black, 0.4);
    }
  }
}

/**
 * Navbar
 */

.navbar-logo {
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: $desktop) {
  .navbar-logo {
    margin-left: 0;
  }
}

.navbar-item {
  &.has-tabs {
    padding: 0;
    margin-bottom: -1px;

    .tabs {
      -webkit-overflow-scrolling: touch;
    }

    li {
      a {
        font-weight: $weight-medium;
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;
        transition: $transition;
      }

      &.is-active a:after {
        content: '';
        background: $link;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: -2px;
      }
    }
  }
}

/**
 * Icon
 */

.icon {
  height: 1.25rem;
  vertical-align: middle;
}

/**
 * Block
 */

.block {
  .icon {
    margin-top: -5px;
  }

  .subtitle {
    margin-bottom: 1rem;
  }

  .notification {
    min-height: calc(100% - 40px);

    .icon {
      height: 1rem;
    }
  }
}

/**
 * Toast
 */

.toast {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  max-width: 300px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/**
 * Layout
 */

.main {
  min-height: calc(100vh - 134px);
}

/**
 * Footer
 */

.footer {
  padding: 2rem 1rem;
}

/**
 * Utilities
 */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Slide Transition
 */

.slide-enter-active,
.slide-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-enter {
  opacity: 0;
  -webkit-transform: translate(50px);
  transform: translate(50px);
}

.slide-leave-to {
  opacity: 0;
  -webkit-transform: translate(-50px);
  transform: translate(-50px);
}

/**
 * Slide animations
 */

.animated:after {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft:after {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight:after {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
