@charset 'utf-8';

// Brand colors
$black: #212121;
$white: #ffffff;
$red: #e53935;
$orange: #ef6c00;
$yellow: #f9a825;
$green: #388e3c;
$cyan: #00bcd4;
$blue: #2196f3;
$indigo: #1a237e;
$purple: #673ab7;
$pink: #d81b60;

// Transparency
$alpha: 1;

// Custom colors
$custom-colors: (
  'black': (
    $black,
    $white
  ),
  'red': (
    rgba($red, $alpha),
    $white
  ),
  'orange': (
    rgba($orange, $alpha),
    $white
  ),
  'yellow': (
    rgba($yellow, $alpha),
    $white
  ),
  'green': (
    rgba($green, $alpha),
    $white
  ),
  'cyan': (
    rgba($cyan, $alpha),
    $white
  ),
  'blue': (
    rgba($blue, $alpha),
    $white
  ),
  'indigo': (
    rgba($indigo, $alpha),
    $white
  ),
  'purple': (
    rgba($purple, $alpha),
    $white
  ),
  'pink': (
    rgba($pink, $alpha),
    $white
  )
) !default;

// Custom variables
$transition: all 0.2s ease;

// Update Bulma's global variables
$primary: $red;
$link: $red;
$link-hover: $red;
$link-active: $red;

// Import Bulma's core
@import '../../node_modules/bulma/sass/utilities/_all.sass';

// Dark Theme
// $body-background-color: mix($black, $indigo, 80%);
// $background: mix($body-background-color, $white, 90%);
// $navbar-background-color: mix($body-background-color, $white, 95%);
// $border: mix($body-background-color, $white, 90%);
// $text: mix($white, $indigo, 60%);
// $title-color: mix($white, $indigo, 80%);
// $subtitle-color: mix($white, $indigo, 40%);

// Update Bulma's component variables
$family-primary: 'Inter UI', $family-sans-serif;
$navbar-box-shadow-size: 0 1px 0 0;
$navbar-box-shadow-color: $border;
$notification-padding: 1.15rem 1.2rem;
$notification-radius: 8px;
$section-padding: 2rem 1rem;
$tabs-border-bottom-width: 0;
$tabs-border-bottom-color: transparent;
$tabs-link-active-color: $link;
$tabs-link-hover-color: $link;
$tabs-link-hover-border-bottom-color: $border;
$tabs-link-padding: 0.85rem 0;
$footer-background-color: transparent;

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/content.sass';
@import '../../node_modules/bulma/sass/elements/notification.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/components/tabs.sass';
@import '../../node_modules/bulma/sass/grid/columns.sass';
@import '../../node_modules/bulma/sass/layout/_all.sass';

// Import fonts
@import '../assets/fonts/inter-ui.css';

// Import app style
@import './_app.scss';
