/**
 * Variables
 */

$shadow-1: 0px 1px 10px rgba(0, 0, 0, 0.2);
$shadow-2: 0px 2px 12px rgba(0, 0, 0, 0.3);
$shadow-3: 0px 2px 14px 2px rgba(0, 0, 0, 0.3);


/**
 * Global
 */

a {
  /* for remove highlight */
  -webkit-tap-highlight-color: transparent;
}

/**
 * Navbar
 */

.navbar.has-shadow {
  box-shadow: $shadow-1;
}

.navbar-item.has-tabs {
  padding: 0;
}

.navbar-item.has-tabs .tabs a {
  padding: 0.9em 1em;
}

/**
 * Icon
 */

.icon {
  height: 1.25rem;
  vertical-align: middle;
}

.meta {
  .icon {
    margin-top: -5px;
  }

  .notification .icon {
    height: 1rem;
  }
}

.fab .icon {
  height: 2rem;
  margin-top: -5px;
}

/**
 * Meta
 */

.meta:not(:last-child) {
  margin-bottom: 2rem;
}

.meta {
  .subtitle {
    margin-bottom: 1rem;
  }

  .notification {
    padding: 1.25rem 1rem;
  }
}

/**
 * Hero
 */

.hero-body {
  padding: 2rem 1rem;
}

/**
 * Section
 */

.section.section-meta {
  padding-top: 4.5rem;
}

/**
 * Footer
 */

.footer {
  padding-bottom: 3rem;
}

/**
 * FAB
 */

.fab {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 1rem;
  height: 56px;
  width: 56px;
  padding: 0;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  transition: all 0.2s ease;
}

.fab:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.fab:active {
  box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.3);
}

/**
 * Utilities
 */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Slide Transition
 */

.slide-enter-active,
.slide-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translate(-2em, 0);
}
