<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>PCTE Time Table</title>

  <!-- Icon -->
  <link rel="icon" href="./static/logo.png" type="image/png" />

  <!-- PWA -->
  <meta name="theme-color" content="#f5f5f5" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css" />
  <link rel="stylesheet" href="./main.css" />
</head>

<body>
  <!-- Template for Day View -->
  <script type="text/x-template" id="dayview-template">
    <section class="section">
      <div class="container">
        <h1 class="title is-size-4">{{ data.day }}</h1>
        <div v-for="lecture in data.lectures" class="meta">
          <h2 class="subtitle">
            <v-icon name="clock"></v-icon> {{ lecture.time }}
          </h2>
          <div class="notification" :class="getColor(lecture.subject.code)">
            <p v-show="lecture.subject" class="text-truncate">
              <v-icon name="book"></v-icon> {{ lecture.subject.code }} &ndash; {{ lecture.subject.name }}
            </p>
            <p v-show="lecture.faculty" class="text-truncate">
              <v-icon name="user"></v-icon> {{ lecture.faculty.code }} &ndash; {{ lecture.faculty.name }}
            </p>
            <p v-show="lecture.room">
              <v-icon name="map-pin"></v-icon> {{ lecture.room }}
            </p>
          </div>
        </div>
      </div>
    </section>   
  </script>

  <div id="app">
    <!-- Hero -->
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ table.class }}</h1>
          <h2 class="subtitle is-size-6">{{ table.date }}</h2>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <router-link v-for="(weekDay, index) in weekDays" :key="index" tag="li" :to="weekDay">
                <a>{{ weekDay }}</a>
              </router-link>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- Route Outlet -->
    <router-view></router-view>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <strong>PCTE Time Table</strong> by <a href="https://nerkarso.github.io" target="_blank">Ner karso</a>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="./main.js"></script>
</body>

</html>
