<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>PCTE Time Table</title>

  <!-- Icon -->
  <link rel="icon" href="./static/logo.png" type="image/png" />

  <!-- PWA -->
  <meta name="theme-color" content="#0c017b" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./sass/theme.scss" />
  <link rel="stylesheet" href="./sass/main.scss" />
</head>

<body>
  <div id="app">
    <!-- Hero -->
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ table.class }}</h1>
          <h2 class="subtitle is-size-6">{{ table.date }}</h2>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li v-for="(weekDay, index) in weekDays" :key="index">
                <a :href="'./#' + weekDay">{{ weekDay }}</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- Component Day View -->
    <dayview></dayview>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <strong>PCTE Time Table</strong> by <a href="https://nerkarso.github.io" target="_blank">Ner karso</a>
      </div>
    </footer>

    <!-- FAB -->
    <a href="./#" class="fab" title="Back to top">
      <v-icon name="chevron-up"></v-icon>
    </a>
  </div>

  <!-- Template Day View -->
  <template id="dayview-template">
    <div class="container">
      <section v-for="item in data" :id="item.day" class="section">
        <h1 class="title is-size-4">{{ item.day }}</h1>
        <div v-for="lecture in item.lectures" class="meta">
          <h2 class="subtitle">
            <v-icon name="clock"></v-icon> {{ lecture.time }}
          </h2>
          <div class="notification" :class="getColor(lecture.subject.code)">
            <p v-show="lecture.subject" class="text-truncate">
              <v-icon name="book"></v-icon> {{ lecture.subject.code }} &ndash; {{ lecture.subject.name }}
            </p>
            <p v-show="lecture.faculty" class="text-truncate">
              <v-icon name="user"></v-icon> {{ lecture.faculty.code }} &ndash; {{ lecture.faculty.name }}
            </p>
            <p v-show="lecture.room">
              <v-icon name="map-pin"></v-icon> {{ lecture.room }}
            </p>
          </div>
        </div>
      </section>
    </div>
  </template>

  <!-- Scripts -->
  <script src="./main.js"></script>
</body>

</html>
