/**
 * Icon
 */

.icon {
  vertical-align: middle;
}

.meta .icon {
  height: 1.25rem;
  margin-top: -5px;
}

.meta .notification .icon {
  height: 1rem;
}

/**
 * Meta
 */

.meta:not(:last-child) {
  margin-bottom: 2rem;
}

.meta .notification {
  padding: 1.25rem 1rem;
}

/**
 * Hero
 */

.hero-body {
  padding: 2rem 1rem;
}

/**
 * Section
 */

.section {
  padding: 2rem 1rem;
}

/**
 * Footer
 */

.footer {
  padding-bottom: 3rem;
}

/**
 * FAB
 */

.fab {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 1rem;
  height: 56px;
  width: 56px;
  padding: 0;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  transition: all 0.2s ease;
}

.fab:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.fab:active {
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.3);
}

/**
 * Utilities
 */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
