<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>PCTE Time Table</title>

    <!-- Icon -->
    <link rel="icon" href="./static/logo.png" type="image/png" />

    <!-- PWA -->
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="./manifest.webmanifest" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./sass/theme.scss" />
    <link rel="stylesheet" href="./sass/main.scss" />
  </head>

  <body class="has-navbar-fixed-top">
    <div id="app">
      <!-- Navbar -->
      <div class="navbar is-fixed-top has-shadow">
        <div class="container">
          <div class="navbar-item has-tabs">
            <nav class="tabs is-boxed is-fullwidth">
              <div class="container">
                <ul>
                  <li v-for="(weekDay, index) in weekDays" :key="index">
                    <a :href="'#' + weekDay"> <v-icon name="calendar"></v-icon> {{ weekDay }} </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <!-- Component Day View -->
      <dayview></dayview>

      <!-- Footer -->
      <footer class="footer">
        <div class="content has-text-centered">
          <p class="has-text-weight-semibold">{{ table.class }} Time Table</p>
          <p class="has-text-grey is-size-7">
            Last updated on <span class="has-text-weight-semibold">{{ table.date }}</span>
          </p>
          <p class="is-size-7">
            <a href="./">
              <v-icon name="monitor"></v-icon>
            </a>
          </p>
        </div>
      </footer>
    </div>

    <!-- Template for Day View -->
    <template id="dayview-template">
      <div class="container">
        <section v-for="item in data" :id="item.day" class="section section-meta">
          <h1 class="title">{{ item.day }}</h1>
          <div v-for="lecture in item.lectures" class="meta">
            <h2 class="subtitle has-text-grey"><v-icon name="clock"></v-icon> {{ lecture.time }}</h2>
            <div class="notification" :class="getColor(lecture.subject.code)">
              <p v-show="lecture.subject" class="text-truncate">
                <v-icon name="book"></v-icon> {{ lecture.subject.code }} &ndash; {{ lecture.subject.name }}
              </p>
              <p v-show="lecture.faculty" class="text-truncate">
                <v-icon name="user"></v-icon> {{ lecture.faculty.code }} &ndash; {{ lecture.faculty.name }}
              </p>
              <p v-show="lecture.room"><v-icon name="map-pin"></v-icon> {{ lecture.room }}</p>
            </div>
          </div>
        </section>
      </div>
    </template>

    <!-- Scripts -->
    <script src="./mobile.js"></script>
  </body>
</html>
